
.main-contents .h-title {
  margin-bottom: 3rem;
}

.main-contents p.description {
  width: 50%;
  min-width: 330px;
  margin: 0 auto 2rem auto;
  line-height: 1.4;
}

.main-contents p::first-letter {
  font-size: 2rem;
  font-weight: 500;
}

@media (min-width: 576px) {
  .main-contents {
    padding: 3rem;
  }
}

#contact fieldset {
  width: 50%;
  min-width: 350px;
  display: flex;
  padding: 1rem 0;
  flex-direction: column;
  margin: 1rem auto;
  margin-left: auto;
  margin-right: auto;
}

.field > label,
.field > input {
  width: calc(100% - 3rem);
  margin-left: 1rem;
  margin-right: 1rem;
}

fieldset .submit-btn {
  margin: 1rem;
  cursor: pointer;
}

.field > label {
  margin-bottom: 0.3rem;
}

.field > input {
  margin-bottom: 1rem;
}
