body {
  background: url('./../images/main_bg.webp') center/cover repeat-x;
  font-family: 'Roboto-condensed', sans-serif;
  line-height: 1.2;
  max-width: 1900px;
  min-height: 100vh;
  margin: 0 auto;
}

.white-space-pre {
  white-space: pre;
}

.copyright {
  background-color: rgb(200, 200, 200);
  margin-top: 3rem;
  padding: 1rem;
}

.d-flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.flex-wrap {
  flex-wrap: wrap;
}

.list-style-none {
  padding: 0;
  list-style: none;
}

.text-align-center {
  text-align: center;
}

.restaurant-name {
  font: 800 4rem 'Indie Flower', cursive;
  color: white;
  text-align: center;
  margin: 2rem;
}

@media (min-width: 768px) {
  .restaurant-name {
    font-size: 6rem;
  }
}

.text-stroke-black {
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

.nav-tap {
  width: 90%;
  margin: 3rem auto 0;
}

ul.nav-tap li {
  color: white;
  background-color: rgb(120,120,130);
  background: linear-gradient(0deg, rgb(145,145,155) 0%, rgb(110,110,120) 50%, rgb(95,95,105) 50%, rgb(120,120,130) 100%);
  font: 500 1.5rem 'Inconsolata', monospace;
  padding: 0.5rem 2rem;
}

ul.nav-tap li.tap-about:hover,
ul.nav-tap li.tap-menu:hover,
ul.nav-tap li.tap-contact:hover {
  cursor: pointer;
}

ul.nav-tap li.tap-reserved {
  display: none;
}

ul.nav-tap li:last-child {
  border: none;
}

@media (max-width: 575.98px) {
  ul.nav-tap li {
    border-bottom: 1px solid black;
  }
}

@media (min-width: 576px) {
  .nav-tap {
    display: flex;
  }

  ul.nav-tap li {
    border-right: 1px solid black;
  }
  ul.nav-tap li.tap-reserved {
    display: block;
    width: 100%;
  }
}

.h-title {
  width: 100%;
}

.test-1 {
  color: white;
}
